@import 'variables';

:host {
  .about {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 61vw;
    padding: 0 2vw 0;
  }

  h1 {
    text-align: center;
  }

  .topic-container {
    display: flex;
    flex-direction: column;
  }
}
