@import 'variables';

:host {
  @border-text: solid black 1px;

  #topic {
    margin-bottom: 40px;
  }

  .start-right {
    text-align: right;
  }

  .border-left {
    border-left: @border-text;
  }

  .border-right {
    border-right: @border-text;
  }

  .content-container {
    display: flex;
  }

  h2 {
    margin: 0;
  }

  img {
    height: 260px;
    width: 210px;
    background-color: white;
    margin: 20px 15px 0;
    border: solid black 1px;
    border-radius: 30px;
  }

  p {
    padding: 12px;
    white-space: pre-line;
    font-size: 1.3rem;
    text-align: justify;
    border-radius: 30px;
    border-bottom: @border-text;
  }
}
