@import 'variables';

:host {

  ul {
    list-style: none;
    font-size: 2rem;
  }

  li {
    height: 30px;
    margin: 30px 0 30px;
  }

  a {
    color: white;
    transition: @text-neon-green-transition;
  }

  a:hover {
    color: @terminal-green;
    text-shadow: @terminal-neon;
  }
}
