@import 'variables';

:host {
  #home {
    position: fixed;
    width: 10vw;
    height: 80px;
    margin: 1vh;
    border: 10px solid black;
    border-radius: 30px;
    background-color: rgba(black, 0.7);
    color: white;
    text-align: center;
    font-size: 3.7em;
    transition: @text-neon-green-transition;
    z-index: 10;

    a {
      color: inherit;
    }
  }

  #home:hover {
    color: @terminal-green;
    text-shadow: @terminal-neon;
  }
}
