:host {
  #terminal {
    width: 65%;
    height: 500px;
    border: 15px solid black;
    border-radius: 30px;
    padding: 15px;
    margin: 42px auto 0;
    font-family: Futura;
    font-weight: bold;
  }

  ul {
    list-style: none;
    font-size: 2.5rem;
  }

  a {
    text-decoration: none;
    color: #48fb47;
  }
}
