@import 'variables';

:host {
  #resume {
    display: flex;
    justify-content: center;
    align-content: center;
  }

  .pdf-container {
    position: absolute;
    background-color: @superlight-pink;
    border-radius: 30px;
    width: 65%;
    height: 100%;
  }

  .pdf-file {
    width: 100%;
    height: 100%;
  }
}
